@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');


*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100vh;
  background: url("background.jpg") no-repeat top/cover;
  color: white;
  font-family: 'Poppins', sans-serif;
}

.header {
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 25vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  /* position: sticky; */
  /* top: 0; */
}

.heading-main {
  font-size: 4rem;
}

.navbar {
  margin-bottom: 0;
}

.tab {
  font-size: 1.5rem;
  display: inline;
  padding: 0.5rem 2rem;
  user-select: none;
  transition: all ease 0.5s;
}

.active-tab {
  box-shadow: inset 0 -3px 0 0 rgba(255,255,255, 0.4);
}

.main {
  height: 85vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  width: 30rem;
  aspect-ratio: 1/1;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.content p {
  font-size: 2rem;
}

.content img {
  width: 70%;
  aspect-ratio: 1/1;
  object-fit: cover;
  border-radius: 50%;
}